.vscode/
.vs/
build_*/
tools/StateMachineGenerator/*.c
tools/StateMachineGenerator/*.h
tools/template_generator/*.c
tools/template_generator/*.h
tools/template_generator/CMakeLists.txt
doxygen/
tools/template_generator/__pycache__/
Testing/
coverage/
extern/threadx/
extern/freertos
extern/fff
docs/_build/
targets/nucleo_f746/.settings/