name: Deploy Sphinx documentation to Pages

on: [pull_request, push, workflow_dispatch]

permissions:
  contents: write

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Python dependencies
        working-directory: ${{github.workspace}}
        run: |
          pwd
          ls -al
          pip install -r ./docs/requirements.txt
      
      - id: deployment
        uses: sphinx-notes/pages@v3
        with:
          publish: false
      
      - uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ steps.deployment.outputs.artifact }}
          force_orphan: true
